<div class="page-container">
  <h1>
    <i style="font-size: inherit" class="pi pi-comments"></i> Deutsch-Bairisch
    Übersetzer
  </h1>

  <div class="w-full flex">
    <div class="w-full">
      <h2>Hochdeutsch</h2>
      <app-text-area
        class="w-full"
        [id]="'german-text-area'"
        [control]="translatorForm.controls.germanText"
        [placeholder]="'Text hier eingeben oder einfügen.'"
      ></app-text-area>
    </div>
    <div class="my-auto pt-7">
      <app-icon-button
        [icon]="'pi pi-angle-right'"
        class="translation-button"
        (clickEvent)="sendTranslationRequest()"
      ></app-icon-button>
    </div>

    <div class="w-full">
      <h2>Bairisch</h2>
      <app-text-area
        class="w-full output-text-area"
        [id]="'bavarian-text-area'"
        [control]="translatorForm.controls.bavarianText"
      ></app-text-area>
    </div>
  </div>
  <h3 class="pt-4">Wie es funktioniert</h3>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
  </p>
</div>
<app-footer></app-footer>
