<div class="page-container">
  <h1>
    <i style="font-size: inherit" class="pi pi-comments"></i> Deutsch-Bairisch
    Übersetzer
  </h1>

  <div class="w-full flex">
    <div class="w-full">
      <h2>Hochdeutsch</h2>
      <app-text-area
        class="w-full input-text-area"
        [id]="'german-text-area'"
        [control]="translatorForm.controls.germanText"
        [placeholder]="'Text hier eingeben oder einfügen.'"
        ><i class="pi pi-times icon-style"></i
      ></app-text-area>
    </div>
    <div class="my-auto pt-7">
      <app-icon-button
        *ngIf="!activateSpinner"
        [icon]="'pi pi-angle-right'"
        class="translation-button"
        (clickEvent)="sendTranslationRequest()"
      ></app-icon-button>
      <app-icon-button
        *ngIf="activateSpinner"
        [icon]="'pi pi-spin pi-spinner'"
        class="translation-button"
        (clickEvent)="sendTranslationRequest()"
      ></app-icon-button>
    </div>

    <div class="w-full">
      <h2>Bairisch</h2>
      <app-text-area
        class="w-full output-text-area"
        [id]="'bavarian-text-area'"
        [control]="translatorForm.controls.bavarianText"
        ><i class="pi pi-copy icon-style"></i
      ></app-text-area>
    </div>
  </div>
  <h3 class="pt-4">Wie es funktioniert</h3>
  <p>
    Es handelt sich hierbei um eine reine Wort für Wort Übersetzung. Einzelne
    deutsche Wörter werden durch bairische Wörter ersetzt. Die bairischen
    Bezeichnungen stammen überwiegend aus Altbayern, der Oberpfalz und
    Österreich.
  </p>
  <p>
    Bitte bachten: Im Bairischen existiert kein Imperfekt! Wörter wie "saß",
    "lief" oder "kaute" können nicht übersetzt werden. Stattdessen müssen die
    Perfekt Formen benutzt werden. In diesem Fall wäre das "bin gesessen", "bin
    gelaufen" oder "habe gekaut"!
  </p>
</div>
