<div class="page-container">
  <h1>
    <i style="font-size: inherit" class="pi pi-comments"></i> Deutsch-Bairisch
    Übersetzer
  </h1>

  <div class="w-full flex">
    <div class="w-full">
      <h2>Hochdeutsch</h2>
      <app-text-area
        class="w-full input-text-area"
        [id]="'german-text-area'"
        [control]="translatorForm.controls.germanText"
        [placeholder]="'Text hier eingeben oder einfügen.'"
      >
        <i
          *ngIf="translatorForm.controls.germanText.value !== ''"
          class="pi pi-times icon-style"
          (click)="deleteText()"
        ></i>
      </app-text-area>
    </div>
    <div class="my-auto pt-7">
      <app-icon-button
        *ngIf="!activateSpinner"
        [icon]="'pi pi-angle-right'"
        class="translation-button"
        (clickEvent)="sendTranslationRequest()"
      ></app-icon-button>
      <app-icon-button
        *ngIf="activateSpinner"
        [icon]="'pi pi-spin pi-spinner'"
        class="translation-button"
        (clickEvent)="sendTranslationRequest()"
      ></app-icon-button>
    </div>

    <div class="w-full">
      <h2>Bairisch</h2>
      <app-text-area
        class="w-full output-text-area"
        [id]="'bavarian-text-area'"
        [control]="translatorForm.controls.bavarianText"
        ><i
          *ngIf="translatorForm.controls.bavarianText.value !== ''"
          class="pi pi-copy icon-style"
          (click)="copyBavText()"
        ></i
      ></app-text-area>
    </div>
  </div>
  <h3 class="pt-4">Empfehlungen:</h3>
  <app-book-ad
    class="pr-5"
    [imageLink]="'https://m.media-amazon.com/images/I/41Re2jXP0YL.jpg'"
    [productLink]="'https://amzn.to/3XLmirZ'"
  ></app-book-ad>
  <app-book-ad
    [imageLink]="'https://m.media-amazon.com/images/I/71mh8VIb0JL._SY522_.jpg'"
    [productLink]="'https://amzn.to/3PPswF9'"
  ></app-book-ad>

  <h3 class="pt-4">Funktionsweise</h3>
  <p>
    Es handelt sich hierbei um eine reine Wort für Wort Übersetzung. Einzelne
    deutsche Wörter werden durch bairische Wörter ersetzt. Die bairischen
    Bezeichnungen stammen überwiegend aus Altbayern, der Oberpfalz und
    Österreich.
  </p>
  <p>
    Bitte bachten: Im Bairischen existiert kein Imperfekt! Wörter wie "saß",
    "lief" oder "kaute" können nicht übersetzt werden. Stattdessen müssen die
    Perfekt Formen benutzt werden. In diesem Fall wäre das "bin gesessen", "bin
    gelaufen" oder "habe gekaut"!
  </p>

  <h3 class="pt-4">Bairisch, bayerisch oder bayrisch?</h3>
  <p>
    Die unterschiedlichen Schreibweisen von bairisch, bayerisch und bayrisch
    hängen mit der Entwicklung und Verwendung der jeweiligen Begriffe zusammen.
  </p>
  <p>
    "Bairisch" bezieht sich auf die Sprache und den Dialekt, der in Bayern und
    Teilen Österreichs gesprochen wird. Die Schreibweise "Bairisch" geht zurück
    auf die mittelhochdeutsche Sprache, in der das Wort "Beierisch" verwendet
    wurde. Diese Schreibweise wurde später zu "Bairisch" angepasst, um den
    Lautwandel im Deutschen widerzuspiegeln.
  </p>
  <p>
    "Bayerisch" bezieht sich auf das Bundesland Bayern und alles, was mit diesem
    Land verbunden ist. Diese Schreibweise ist eine Ableitung des Namens
    "Bayern" und bezieht sich auf die Kultur, die Menschen und die Geschichte
    des Landes.
  </p>
  <p>
    "Bayrisch" ist eine alternative Schreibweise von "bayerisch". Sie ist vor
    allem in Bayern selbst gebräuchlich und wird oft als dialektale Variante
    angesehen. Im Hochdeutschen wird "Bayrisch" jedoch nicht als korrekte
    Schreibweise angesehen.
  </p>
  <p>
    Insgesamt beziehen sich die Schreibweisen "Bairisch", "Bayerisch" und
    "Bayrisch" auf unterschiedliche Aspekte der bayerischen Kultur und Sprache.
    Während "Bairisch" sich auf den Dialekt bezieht, der in Bayern und
    Österreich gesprochen wird, bezieht sich "Bayerisch" auf das Bundesland
    Bayern und alles, was damit verbunden ist. "Bayrisch" ist eine alternative
    Schreibweise von "bayerisch", die aber im Hochdeutschen nicht korrekt ist.
  </p>
  <p>
    Aus diesem Grund ist der Titel des Übesetzers "Deutsch-Bairisch Übersetzer"
    und nicht "Deutsch-Bayerisch Übersetzer" oder Deutsch-Bayrisch Übersetzer
  </p>
</div>
