<div class="page-container">
  <h1>Mithelfen den Übersetzer zu verbessern</h1>

  <div class="flex w-full gap-3 pb-4 pt-4">
    <app-input-text
      class="w-full"
      [id]="'dialect'"
      [label]="'Dialekt'"
      [control]="generalsContriForm.controls.dialect"
    ></app-input-text>
    <app-input-text
      class="w-full"
      [id]="'region'"
      [label]="'Region'"
      [control]="generalsContriForm.controls.region"
    ></app-input-text>
    <app-dropdown
      class="w-full"
      [options]="landOptions"
      [label]="'Land oder Bundesland'"
      [control]="generalsContriForm.controls.land"
    ></app-dropdown>
  </div>

  <div class="pb-6">
    <p-tabView class="tab-view">
      <p-tabPanel header="Einzelne Wörter">
        <div class="flex gap-4">
          <div class="w-full">
            <app-input-text
              [id]="'german-word'"
              [control]="wordContriForm.controls.germanWord"
              [label]="'Hochdeutsch'"
            ></app-input-text>
            <div class="pt-5">
              <app-input-text
                [id]="'bavarian-word'"
                [control]="wordContriForm.controls.dialectWord"
                [label]="'Dialekt'"
              ></app-input-text>
            </div>
          </div>
          <div class="w-full">
            <app-text-area
              [id]="'description'"
              [control]="wordContriForm.controls.description"
              [label]="'Beschreibung (optional)'"
            ></app-text-area>
          </div>
        </div>
        <div class="flex justify-content-end pt-4">
          <app-button
            [label]="'Senden'"
            (clickEvent)="sendDialectWordProposal()"
          ></app-button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Ganzer Text">
        <div class="w-full flex gap-5">
          <div class="w-full">
            <app-text-area
              [label]="'Hochdeutsch'"
              class="w-full"
              [id]="'german-text-area'"
              [control]="textContriForm.controls.germanText"
              [placeholder]="'Hochdeutschen Text hier eingeben...'"
            ></app-text-area>
          </div>

          <div class="w-full">
            <app-text-area
              class="w-full output-text-area"
              [label]="'Dialekt'"
              [id]="'dialect-text-area'"
              [control]="textContriForm.controls.dialectText"
              [placeholder]="'Dialekt Übersetzung hier eingeben...'"
            ></app-text-area>
          </div>
        </div>
        <div class="flex justify-content-end pt-4">
          <app-button
            [label]="'Senden'"
            (clickEvent)="sendDialectTextProposal()"
          ></app-button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
